.section {
  max-width: 70rem;
  width: 90%;
  margin: 0rem auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section h1 {
  margin-bottom: 4rem;
  text-align: center;
}

.section ul {
  padding-left: 2.5rem;
}

.section a {
  display: inline;
}

.section h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
